body{
    background-color: aqua;
}

.titulo{
    color: #0066cc;
    font-size: 50px;
}
#tamanhogugle{
    width: 100px;
    height: 100px;
}

.principal p{
    font-size: 30px;
    font-family: Helvetica, sans-serif;
    color: #0066cc;
}
.principal li p{
    font-size: 22px;
}
button{
    background-color: lightblue;
    width: 60%;
    border: 2px solid grey;
}
#akashi{
    color: #004645;
    font-size: 45px;
}
